aiofiles==0.8.0
aiohttp==3.8.3
aiosignal==1.3.1
anyio==3.6.2
async-generator==1.10
async-timeout==4.0.2
asyncio==3.4.3
attrs==22.1.0
certifi==2022.9.24
charset-normalizer==2.1.1
dataclass-factory==2.16
decorator==4.4.2
exceptiongroup==1.0.4
ffmpeg==1.4
ffprobe==0.5
ffprobe-python==1.0.3
frozenlist==1.3.3
h11==0.14.0
idna==3.4
imageio==2.22.4
imageio-ffmpeg==0.4.7
iniconfig==1.1.1
moviepy==1.0.3
multidict==6.0.2
numpy==1.23.5
outcome==1.2.0
packaging==21.3
Pillow==9.3.0
pluggy==1.0.0
proglog==0.1.10
pydub==0.25.1
pyparsing==3.0.9
PySocks==1.7.1
pytest==7.2.0
pytest-asyncio==0.19.0
python-dotenv==0.21.0
requests==2.28.1
selenium==4.6.1
shazamio==0.3.0.0
sniffio==1.3.0
sortedcontainers==2.4.0
tomli==2.0.1
tqdm==4.64.1
trio==0.22.0
trio-websocket==0.9.2
urllib3==1.26.13
webdriver-manager==3.8.5
wget==3.2
wsproto==1.2.0
yarl==1.8.1
